{% extends "layout.html" %} {% block title %} Register {% endblock %} {% block
main %}
<h1 class="t-center">Register your account</h1>
<p class="t-center">
  Choose a username and a password; no email address required.
</p>
<form class="register-form" action="/register" method="post">
  <!-- <p>Choose your username to sign up</p> -->
  <div class="form-field">
    <label for="username">Username</label>
    <input
      class="register-input"
      type="text"
      name="username"
      value="{{ username }}"
    />
    {% if errors.username %}
    <span class="error-message">{{ errors.username }}</span>
    {% endif %} {% if errors.usernamexists %}
    <span class="error-message">{{ errors.usernamexists }}</span>
    {% endif %}
  </div>
  <!-- <input class="register-input" type="text" name="mail" placeholder="mail"> -->
  <!-- {% if errors.mail %}
        <span class="error-message">{{ errors.mail }}</span>
    {% endif %} -->
  <div class="form-field">
    <label for="password">Password</label>
    <input class="register-input" type="password" name="password" />
    {% if errors.password %}
    <span class="error-message">{{ errors.password }}</span>
    {% endif %} {% if errors.passwordlength %}
    <span class="error-message">{{ errors.passwordlength }}</span>
    {% endif %} {% if errors.passwordchars %}
    <span class="error-message">{{ errors.passwordchars }}</span>
    {% endif %}
  </div>
  <div class="form-field">
    <label for="confirm">Repeat Password</label>
    <input class="register-input" type="password" name="confirm" />
    {% if errors.passwordwrong %}
    <span class="error-message">{{ errors.passwordwrong }}</span>
    {% endif %}
  </div>
  <input class="btn" type="submit" value="Sign Up" />
</form>
<p class="t-center">
  Already have an account? <a href="/login">Sign up here</a>.
</p>

{% endblock %}
